.formulaire {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; /* Adjust the margin-top as needed */
  
    input {
      background-color: white;
      letter-spacing: 1px;
      padding: 12px;
      border: solid white;
      transition: 0.25s;
      border-radius: 25px;
      font-size: 18px;
      font-weight: 600;
      margin-top: 15px; /* Adjust the margin-top between inputs */
      margin-bottom: 15px; /* Adjust the margin-bottom between inputs */
      width: 500px; /* Adjust the width of the inputs */


      font-family: 'Lato';
      color: #4b300d;

      #cgu {
        width: 10px;
      }
    }
  
    p {
      color: red; 
      margin-top: 10px; 

    }

  
  
      .cguCheckbox {
        width: 50px;
        height: 15px;
        align-items: center;
      }
    }


  

