@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@700&display=swap');

* {
    font-family: 'Lato';
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Mada';
    margin-top: 25px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 20px;
}


.espacement {
    margin-bottom: 5vh;
}

.GrosEspacement {
    margin-bottom: 10vh;
}